# Configurações do Banco de Dados
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Porta da API
PORT=3000

# APIKEY Gemini
GEMINI_API_KEY=

# padrão — habilita o WebSocket
WEBSOCKET_ENABLED=true   

# desabilita, mantendo só a API REST
# WEBSOCKET_ENABLED=false  
